# .NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.dbmdl
*.jfm
*.pdb
*.log
*.vs/
.DS_Store
*.ncrunch*
*.localhistory
*.sln.ide
*.sln.docstates
*.sln.cache
*.sln.ide
*.db*